{% extends 'base.html.twig' %}

{% block title %}Les chiffres du COVID-19 en France{% endblock %}

{% block body %}
    <div class="album py-5" id="france">
        <div class="container">
            <h1 class="mb-5">Les chiffres du COVID-19 en France</h1>

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                <div class="col">
                    <div class="card shadow-sm h-100">
                        <div class="card-body">
                            <h5 class="card-title">Nombre d’hospitalisations</h5>
                            <p class="card-text">Nombre de personnes actuellement hospitalisées</p>
                        </div>
                        <h3 class="card-footer bg-warning text-dark mx-2 rounded-pill">{{ data.FranceGlobalLiveData.0.hospitalises | number_format(0, '.', ' ') }}</h3>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">Nombre de Réa</h5>
                            <p class="card-text">Nombre de personnes actuellement en réanimation</p>
                        </div>
                        <h3 class="card-footer bg-warning text-dark mx-2 rounded-pill">{{ data.FranceGlobalLiveData.0.reanimation | number_format(0, '.', ' ') }}</h3>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">Nombre total de décès &#128549;</h5>
                            <p class="card-text">Nombre de personnes décédés depuis le début de la pandémie</p>
                        </div>
                        <h3 class="card-footer bg-dark text-light mx-2 rounded-pill">{{ (data.FranceGlobalLiveData.0.deces + data.FranceGlobalLiveData.0.decesEhpad) | number_format(0, '.', ' ') }}</h3>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">Nombre totale de guéris</h5>
                            <p class="card-text">Nombre de personnes guéris depuis le début de la pandémie</p>
                        </div>
                        <h3 class="card-footer bg-success text-dark mx-2 rounded-pill">{{ data.FranceGlobalLiveData.0.gueris | number_format(0, '.', ' ') }}</h3>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">Nombre de cas confirmés</h5>
                            <p class="card-text">Nombre de cas confirmés depuis le début de la pandémie</p>
                        </div>
                        <h3 class="card-footer bg-info text-dark mx-2 rounded-pill">
                            {{ (data.FranceGlobalLiveData.0.casConfirmes + data.FranceGlobalLiveData.0.casConfirmesEhpad) | number_format(0, '.', ' ') }}
                        </h3>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">Source des données</h5>
                            <p class="card-text"><strong>{{ data.FranceGlobalLiveData.0.source.nom }}</strong>
                            </p>
                        </div>
                        <h3 class="card-footer bg-secondary text-grey mx-2 rounded-pill">{{ data.FranceGlobalLiveData.0.date | date('d/m/Y') }}</h3>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="album py-5" id="departement">
        <div class="container">
            <h1 class="mb-5">Les chiffres du COVID-19 par département</h1>

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for departement in departements.allLiveFranceData %}
                    <div class="col">
                        <div class="card shadow-lg h-100 m-2">
                            <div class="card-body">
                                <h5 class="card-title">{{ departement.nom }}</h5>
                                <p class="card-text">Actuellement hospitalisé <span
                                            class="badge bg-secondary">{{ departement.hospitalises | number_format(0, '.', ' ') }}</span>
                                </p>
                                <p class="card-text">Actuellement en réa <span
                                            class="badge bg-secondary">{{ departement.reanimation | number_format(0, '.', ' ') }}</span>
                                </p>
                                <a href="{{ path('app_departement', {'departement': departement.nom }) }}"
                                   class="btn btn-secondary" role="button" aria-pressed="true">Plus de chiffres</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
